body{
    font-family:'Courier New', Courier, monospace;
}

.container{
    border: 1px solid black;
    margin: 10px;
    width: 40%;
}

label{
    display:inline-block;
    margin: 5px;
    margin-left:15px;
    margin-bottom:15px;
}

input{

    align-content:flex-end;
    margin-top:5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;

}

